:root {
    --sans: "Atlas Grotesk", -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
    --font-size-giant: clamp(3rem);
    --font-size-large: clamp(1.5rem);
    --font-size-medium: clamp(1rem);
    --font-size-small: clamp(15px);
    --font-weight-bold: 900;
    --font-weight-normal: 400;
    --font-weight-thin: 100;
    --margin: 16px;
    --white: #EFEFEF;
    --black: #191919;
}

.topnav {
    list-style-type: none;
    text-decoration: none;
    float: right;

}

.page:hover {
    text-decoration: underline;
}

body {
    background: var(--bg);
    color: var(--fontColor);
    word-wrap: break-word;
    line-height: 1.4;
}

h2 {
    margin-top: 64px;
    margin-left: var(--margin);
    font-family: var(--sans);
    font-weight: var(--font-weight-normal);
    font-size: 36px;
}

ul {
    list-style: none;
}

li::before {
    content: "\21D2";
}

.light-theme {
    --bg: var(--white);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
    --linkColor: var(--black);
}

.dark-theme {
    --bg: var(--black);
    --fontColor: var(--white);
    --btnBg: var(--white);
    --btnFontColor: var(--black);
    --linkColor: var(--white);
}

.btn {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: absolute;
    top: 64px;
    right: 64px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);


}

a {
    color: var(--linkColor);
    margin: var(--margin);
    font-weight: var(--font-weight-thin);
    font-size: 24px;

}
