<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>
	<link rel="stylesheet" type="text/css" href="./css/aboutMe.css">
</head>
<body>
	<!-- this navbar will be on every page that uses page.html as layout-->
	<div class="topnav">
                <a href="/index" class="navlink">home</a>
                <a href="/aboutMe" class="navlink">about</a>
                <a href="/misc" class="navlink">misc</a>
        </div>
	{{ content }}
	<i>Copyright 2025 Jaden Rieck</i>
</body>
</html>